searchorder/.classpath
searchorder/.project
taxcalc/.settings/org.eclipse.jdt.apt.core.prefs
searchorder/.classpath
searchorder/.project
searchorder/.settings/org.eclipse.jdt.core.prefs
taxcalc/.classpath
taxcalc/.project
